### https://raw.github.com/github/gitignore/2aa0d6625acc0e809c30be8845bc27f68e4f8602/Go.gitignore

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

dist/unixtime-converter
*.zip
*.alfredworkflow
